/* ======================================= LIST ======================================= */
.list{
    position: relative;
}
.list .row{
    display: table;
    width: 100%;
    margin: 15px 0px;
    border: 1px solid #CCC;
    font: 13px Tahoma, Geneva, sans-serif;
    background-color: #fff; 
    
}

.list .head{
    text-align: center; 
    font-weight: bold;
}

.list .row .w-10, .list .row .action{
    width: 10%;
    text-align: center;	
}

.list .row .action{
    border-right: none;
}

.list .row  a{
    text-decoration: none;
    color: #000;
}

.list .row  a:hover{
    text-decoration: underline;
}

.list .row > p{
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #CCC;
    text-align: center;
    height: 30px;
}

#area-button{
    position: absolute;
    top: -38px;
    right: 0px;
}

#area-button a {
    display: inline-block;
    padding: 5px 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-left: 5px;
    background: #c9e7e3;
}

#area-button a:hover{
    background: #a7e7df;
}


/* =======================================  ======================================= */
a{
    cursor: pointer;
}
.image{
    width: 50px;
    height: 50px;
}
.modal-content{
    width: 390px;
}
label{
    margin-top: 7px;
}

