<div class="row" *ngIf="taikhoanebay">
    <div class="col-md-6">
        <div class="form-group">
            <label for="usr">Tên đăng kí:</label>
            <input type="text" [(ngModel)]="taikhoanebay.name_register" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Địa Chỉ:</label>
            <input type="text" [(ngModel)]="taikhoanebay.address" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">State:</label>
            <input type="text" [(ngModel)]="taikhoanebay.state" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Zipcode:</label>
            <input type="text" [(ngModel)]="taikhoanebay.zipcode" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Visa:</label>
            <input type="text" [(ngModel)]="taikhoanebay.visa" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Ngày Hết Hạn Visa:</label>
            <input type="text" [(ngModel)]="taikhoanebay.date" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Cvv:</label>
            <input type="text" [(ngModel)]="taikhoanebay.cvv" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Số điện thoại:</label>
            <input type="text" [(ngModel)]="taikhoanebay.sdt" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Birthday:</label>
            <input type="text" [(ngModel)]="taikhoanebay.birthday" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">CMND/GPLX:</label>
            <input type="text" [(ngModel)]="taikhoanebay.cmt_gplx" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="usr">Email:</label>
            <input type="text" [(ngModel)]="taikhoanebay.email" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Pass Email:</label>
            <input type="text" [(ngModel)]="taikhoanebay.pass_email" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Ebay:</label>
            <input type="text" [(ngModel)]="taikhoanebay.ebay" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">User Id:</label>
            <input type="text" [(ngModel)]="taikhoanebay.user_id" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Date Register:</label>
            <input type="text" [(ngModel)]="taikhoanebay.date_register" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Count Limit:</label>
            <input type="text" [(ngModel)]="taikhoanebay.count_limit" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Paypal:</label>
            <input type="text" [(ngModel)]="taikhoanebay.paypal" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Pass Paypal:</label>
            <input type="text" [(ngModel)]="taikhoanebay.pass_paypal" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Name Vitual:</label>
            <input type="text" [(ngModel)]="taikhoanebay.name_vitual" class="form-control">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="chinhsuataikhoanebay()">Chỉnh Sửa</button>
    </div>
</div>