<div class="row" *ngIf="sanphamvipon">
    <div class="col-md-6">
        <div class="form-group">
            <label for="usr">Tên sản phẩm:</label>
            <input type="text" [(ngModel)]="sanphamvipon.name" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Số Ngày Khuyến Mãi Còn Lại:</label>
            <input type="text" [(ngModel)]="sanphamvipon.count_day_remain" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Link Sản Phẩm Vipon:</label>
            <input type="text" [(ngModel)]="sanphamvipon.link_vipon" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Link Sản Phẩm Amazon:</label>
            <input type="text" [(ngModel)]="sanphamvipon.link_amazon" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Tài Khoản Amazon Mua Sản Phẩm:</label>
            <input type="text" [(ngModel)]="sanphamvipon.id_user_amazon_buy" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Tài Khoản Ebay Bán Sản Phẩm:</label>
            <input type="text" [(ngModel)]="sanphamvipon.id_user_ebay_sell" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Giá Amazon Bán:</label>
            <input type="text" [(ngModel)]="sanphamvipon.price_amazon" class="form-control">
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="usr">Giá Vipon Bán:</label>
            <input type="text" [(ngModel)]="sanphamvipon.price_vipon" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Mã Giảm Giá:</label>
            <input type="text" [(ngModel)]="sanphamvipon.code" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Ngày Bắt Đầu:</label>
            <input type="text" [(ngModel)]="sanphamvipon.date_start" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Prime:</label>
            <input type="text" [(ngModel)]="sanphamvipon.prime" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Price Prime:</label>
            <input type="text" [(ngModel)]="sanphamvipon.price_prime" class="form-control">
        </div>
        <div class="form-group">
            <label for="usr">Số lượng sản phẩm có thể mua:</label>
            <input type="text" [(ngModel)]="sanphamvipon.count_product_buy" class="form-control">
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="chinhsuasanphamvipon()">Chỉnh Sửa</button>
    </div>
</div>