<aside class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>Quản Lý Tài Khoản Ebay</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>

                    <li><a routerLink="/client/xemdanhsachtaikhoanebay">Xem Danh Sách Tài Khoản</a>
                    </li>
                    <li><a routerLink="/client/themtaikhoanebay">Thêm Một Tài Khoản</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><i class="fa fa-table"></i><span>Vipon</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>
                    <li><a routerLink="/client/xemdanhsachsanphamvipon">Danh Sách Sản Phẩm Vipon</a>
                    </li>

                    <li><a routerLink="/client/themsanphamvipon">Thêm Sản Phẩm Vipon</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><i class="fa fa fa-tasks"></i><span>Amazon Ebay</span><i
                        class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>
                    <li><a routerLink="/client/xemdanhsachsanphamamazonebay">Danh Sách Sản Phẩm Amazon Ebay</a>
                    </li>
                    <li><a routerLink="/client/themsanphamamazonebay">Thêm Sản Phẩm Amazon Ebay</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>